Repository ytk6565/lambda-generate-pdf: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, check, test

lefthook.yml:

pre-push:
  parallel: true
  commands:
    typecheck:
      root: "packages/function/"
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}"
      run: npm run typecheck
    check:
      root: "packages/function/"
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: npm run check
    test:
      root: "packages/function/"
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}"
      run: npm run test -- --run --silent

npm ワークスペースを定義しないように調整
  lefthook.yml
Due: none

タイムアウトの記述を調整
  packages/function/src/createNuxtServer.ts
Due: typecheck, check, test

シグナルの指定の処理を移動
  packages/function/src/createNuxtServer.ts
Due: typecheck, check, test

try catch で囲む
  packages/function/src/createNuxtServer.ts
Due: typecheck, check, test

パッケージの更新
  package-lock.json
  packages/function/package.json
Due: check

CIを調整する
  .github/workflows/cd-production.yml
Due: none

puppeteer を playwright にする
  packages/function/index.ts
  packages/function/src/createBrowser.ts
  packages/function/src/generatePdf.ts
Due: typecheck, check, test

public フォルダを src 配下に移動する
  packages/app/src/public/favicon.ico
  packages/app/src/public/robots.txt
Due: none

画像を表示するサンプルを追加する
  packages/app/src/assets/assets.png
  packages/app/src/pages/document.vue
  packages/app/src/public/public.png
Due: none

依存パッケージを更新する
  package-lock.json
  packages/function/package.json
Due: check

Dockerfile を作成
  Dockerfile
Due: none

Docker 用にCI/CDを調整する
  .github/workflows/cd-production.yml
  .github/workflows/reusable-deploy-pdf-generator.yml
  .github/workflows/reusable-publish-lambda-layer.yml
  .github/workflows/reusable-update-function-configuration.yml
Due: none

Biome のエラーを修正
  packages/function/src/createBrowser.ts
Due: typecheck, check, test

ビルドコマンドを修正
  .github/workflows/reusable-deploy-pdf-generator.yml
Due: none

命名を調整する
  .github/workflows/cd-production.yml
Due: none

docker tag コマンドを追加する
  .github/workflows/reusable-deploy-pdf-generator.yml
Due: none

permissions を追加する
  .github/workflows/reusable-deploy-pdf-generator.yml
Due: none

ビルド・プッシュの方法を変更する
  .github/workflows/reusable-deploy-pdf-generator.yml
Due: none

provenance: false を設定する
  .github/workflows/reusable-deploy-pdf-generator.yml
Due: none

設定を調整
  .github/workflows/reusable-deploy-pdf-generator.yml
Due: none

Playwright がインストールされるディレクトリを指定する
  Dockerfile
Due: none

pdfcpu の config がファイルの書き込み権限エラーに対応する
  packages/function/src/generatePdf.ts
Due: typecheck, check, test

Dockerfile でディレクトリを切らないようにする
  Dockerfile
  packages/function/src/generatePdf.ts
Due: typecheck, check, test

Revert "Dockerfile でディレクトリを切らないようにする"
  Dockerfile
  packages/function/src/generatePdf.ts
Due: typecheck, check, test

コメントアウトを修正する
  packages/function/src/generatePdf.ts
Due: typecheck, check, test

日本語の表示をテストする
  Dockerfile
  packages/app/src/pages/document.vue
Due: none

PDFCPU_CONFIG_DIR を削除してみる
  packages/function/src/generatePdf.ts
Due: typecheck, check, test

Nuxt.js を SPA にして S3 + CloudFront で配信する
  .github/workflows/cd-production.yml
  .github/workflows/reusable-deploy-pdf-generator.yml
  .github/workflows/reusable-publish-lambda-layer.yml
  .github/workflows/reusable-update-function-configuration.yml
  .github/workflows/reusable-upload-to-s3.yml
  packages/app/nuxt.config.ts
  packages/function/__tests__/index.test.ts
  packages/function/esbuild.config.mjs
  packages/function/index.ts
  packages/function/src/createNuxtServer.ts
Due: typecheck, check, test

依存パッケージをビルド対象にする
  packages/function/esbuild.config.mjs
Due: typecheck, check, test

不要になったパッケージを削除する
  package-lock.json
  packages/function/package.json
Due: check

esbuild.config.mjs に banner を追加して Dynamic require を実行できるようにする
  packages/function/esbuild.config.mjs
Due: typecheck, check, test

Node.js のバージョンアップ、 if の条件を調整する
  .github/workflows/reusable-deploy-pdf-generator.yml
Due: none

esbuild.config.mjs の banner をオブジェクトに変更する
  packages/function/esbuild.config.mjs
Due: typecheck, check, test

esbuild.config.mjs の banner で __filename, __dirname に対応する
  packages/function/esbuild.config.mjs
Due: typecheck, check, test

esbuild.config.mjs の banner で path が既存のインポートと被らないようにする
  packages/function/esbuild.config.mjs
Due: typecheck, check, test

esbuild.config.mjs の banner で fileURLToPath が既存のインポートと被らないようにする
  packages/function/esbuild.config.mjs
Due: typecheck, check, test

ビルドしない形式に戻す
  .github/workflows/cd-production.yml
  .github/workflows/reusable-deploy-pdf-generator.yml
  .github/workflows/reusable-update-function-configuration.yml
  packages/function/esbuild.config.mjs
Due: typecheck, check, test

ワークフローの if の条件分岐の指定方法を調整する
  .github/workflows/reusable-deploy-pdf-generator.yml
Due: none

CI/CD の if の条件分岐の動作確認
  packages/app/nuxt.config.ts
Due: none

Revert "CI/CD の if の条件分岐の動作確認"
  packages/app/nuxt.config.ts
Due: none
